.body{font-family: Arial,san-serif;
    margin: 0%;
padding: 0;}
header{background:#333333 ;
color: #fff;
padding: 1 rem;
text-align: center;}

nav a {
    color: #fff;
    margin: 0%;
    text-decoration: none;
}

section{
    padding: 2rem;
    max-width: 600px;
    margin:auto
}

input{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
}

button{
    background: #0a0;
    color: #fff;
    border: none;
    padding: 00.7rem 1rem;
    cursor: pointer;
}